</br></br>

<div class="container row">
  <div class="row">
    <div class="col s8 offset-s2 showPage">
      <h4 style="text-align: center"> List of all Volunteers </h4><hr>
      <ol>
        <% @volunteer.each do |volunteer| %>
        <div class="row">
            <div class="col s6">
              <li>
                <%= volunteer.user.user_name %>
              </li>
            </div>
            <% if current_user == volunteer.user %>
            <div class="col s6">
              <%= button_to "Change your mind?",
              { action: "delete", id: volunteer.id },
              method: :delete, data: {confirm: "Are you sure?"}, class: "btn waves-effect waves-light"  %>
            </div>
            <% end %>

        </div><hr>
        <% end %>
      </ol>
    </div>
  </div>
</div>
