<h1> List of all Bets </h1>
<% @bet.each do |bet| %>
<div class="row">
  <div class="col s12" style="background: yellow">
<div>
<a href="/bets/<%= bet.id %>"><%= bet.name %></a>
</div>
<div>
$<%= bet.amount %>
</div>
<div>
<%= bet.description %>
</div>
</div>
</div>
<% end %>
