</br></br><div class="container row showPage">
  <div class="col s4 offset-s2">
    PROFILE PIC GOES HERE!
  </div>
  <div class="col s4">

<div>
  <strong>Username: </strong><%= @user.user_name %>
</div>
<div>
  <strong>First Name: </strong><%= @user.first_name %>
</div>
<div>
  <strong>Last Name: </strong><%= @user.last_name %>
</div>
<div>
  <strong>Email: </strong><%= @user.email %>
</div>
</div>

</div>
