<!DOCTYPE html>
<html>
<head>
  <title>FoodieBomb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/"> Splash Page </a></br>
<a href="/users">Users Index </a></br>
<a href="/signup">Users Signup Page<a></br>

<%= yield %>

</body>
</html>
